[Desktop Entry]
Name=mdns
Comment=mdns tools with UI
Exec=mdns
Icon=${SNAP}/meta/gui/openiothub.png
Terminal=false
Type=Application
Categories=Network;
